body{
	font-family: "RalewayRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
}
.p0{
	padding: 0;
}
p{
	line-height: 23px;
}
h5{
	line-height: 27px;
}

/*HEADER*/

header{
	height: 280px;
	background-image: url('../img/banner.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 10px;
    background-position: center;
}

.title_block{
	color: tomato;
	text-align: center;
	margin-top: 100px;
}
.title_block h1{
	font-size: 70px;
	font-family: 'RalewayBold', sans-serif;
	margin-bottom: 30px;
}
.title_block p{
	font-size: 18px;
	margin-bottom: 50px;
}

	/* WORKS SECTION */

.works-block{
	position: relative;
}
.image-wrap{
	position: absolute;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(232, 69, 69, .6);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	opacity: 0;
}
.works-block:hover .image-wrap{
	opacity: 1;
}
.work_descr{
	text-align: center;
	color: #fff;
	margin: auto;
}
.work_descr h4{
	font-size: 32px;
    font-weight: 800;
}

	/* RESULT SECTION */

.result_s{
	background-color: oldlace;
	padding: 10px 0;
	color: #6c7279;
}
.result_s h4{
	font-family: 'RalewayBold', sans-serif;
	color: #000;
}
.result_s p{
	text-transform: uppercase;
	color: #e84545;
	font-size: 16px;
}	
.team-item p{
	font-size: 14px;
	padding: 10px 0;
}

